<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::section})}">

<section>
    <div class="card">
        <h1>Register</h1>

        <form th:action="@{/register}" method="post">
            <div style="margin-top: 10px;">
                <input type="text" name="username" placeholder="Username" required
                       style="padding:8px; width:90%; border-radius:6px; border:none; font-size:1em;">
            </div>
            <div style="margin-top: 10px;">
                <input type="password" name="password" placeholder="Password" required
                       style="padding:8px; width:90%; border-radius:6px; border:none; font-size:1em;">
            </div>

            <div style="margin-top: 20px;">
                <button type="submit" class="start">Register</button>
            </div>
        </form>

        <p style="margin-top: 15px;">Already have an account?
            <a th:href="@{/login}" style="color:#f1c40f; text-decoration:underline;">Login here</a>
        </p>
    </div>
</section>

</html>
